---
import { getCollection, render } from 'astro:content';
import Post from '../../layouts/Post.astro';


export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map(post => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<Post post={post.data}>
  <Content />
</Post>
