---
import Page from "../layouts/Page.astro"
const images = Array(16).fill("/img/divide.webp");
---
<Page>
  <div class="flex justify-center mt-10">
    <img class="face absolute z-10" src="/img/face.webp" alt="aroni's face" width="600" height="750" />
    <img class="tamoko-l absolute opacity-0" src="/img/face-tamoko-l.webp" alt="face tatoo left" width="600" height="750" />
    <img class="tamoko-r absolute opacity-0" src="/img/face-tamoko-r.webp" alt="face tatoo right" width="600" height="750" />

    <a href="#HEART" class="heart absolute w-[400px] h-[400px]">
      <img src="/img/heart.webp" alt="aroni's heart" width="400" height="400" />
      <p class="text-center font-black text-2xl"> 
        what I love
      </p>
    </a>
    <img src="/img/heart-trick.webp" class="heart-trick absolute" alt="heart trick" width="400" height="400" />

    <a href="#BRAIN" class="brain absolute w-[400px] h-[400px]">
      <img src="/img/brain.webp" alt="aroni's brain" width="400" height="400" />
      <p class="text-center font-black text-2xl">
        what I do
      </p>
    </a>
    <img src="/img/brain-trick.webp" class="brain-trick absolute" alt="brain trick" width="400" height="400" />

    <div class="see z-20">
      <div class="chat chat-start pt-[420px] pl-[320px]">
        <div class="chat-bubble chat-bubble-primary">
          Click to see inside.
        </div>
      </div> 
    </div>
    <div class="divides absolute flex flex-col gap-2">
      {
        images.map(src => (
        <img class="divide" src={src} alt="divider" width="20" height="40" />
      ))}
    </div>
  </div>
</Page>

<style lang="scss">
  @keyframes delete {
    100% { display: none; }
  }

  .divides, .divide {
    opacity: 0;
  }

  .divides.go {
    opacity: 1;
  }

  .face.go {
    opacity: 0;
    transition: opacity 1s 1s linear;
    animation: 0s delete 2s forwards;
  }

  @keyframes divide {
    0% { opacity: 0; }
    20% { opacity: 1; }
    80% { transform: scale(1) rotate(0); opacity: 1;}
    99% { transform: scale(2) rotate(360deg); opacity: 0; display: block; }
    100% { display: none; }
  }

  .divide.go {
    animation: 3s divide cubic-bezier(.6,.08,.45,1.36) forwards;
  }

  @for $i from 1 through 16 {
    .divide:nth-child(#{$i}) {
      animation-delay: #{1.2s + (16 - $i) * .02s};
    }
  }

  .face, .tamoko-l, .tamoko-r {
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
  }
  
  .face:active {
    opacity: 0;
    transition: opacity 1s 1s linear;
    cursor: default;
    animation: delete 1s 1s forwards;
  }

  .face.go ~ .tamoko-l, .face.go ~ .tamoko-r {
    opacity: 1;
    transition: opacity 2s linear, transform .5s 2.2s;
  }

  .face.go ~ .tamoko-l {
    animation: tamoko-l .6s 2s forwards;
  }

  @keyframes tamoko-l {
    80% {transform: translateX(-20vw);}
    99% {opacity: 0;}
    100% {display: none;}
  }

  .face.go ~ .tamoko-r {
    animation: tamoko-r .6s 2s forwards;
  }
  @keyframes tamoko-r {
    80% {transform: translateX(20vw);}
    99% {opacity: 0;}
    100% {display: none;}
  }

  .see {
    cursor: pointer;
  }

  .chat {
    opacity: 0;
    animation: 1s chat 3s forwards;
  }

  @keyframes chat {
    100% {opacity: 1;}
  }

  .see.go {
    opacity: 0;
    transition: opacity .2s linear;
    cursor: default;
    animation: 0s see .2s forwards;
  }

  @keyframes see {
    100% {display: none;}
  }

  .brain, .brain-trick,
  .heart, .heart-trick {
    margin-top: 8rem;
    border-radius: 1rem;
    opacity: 0;
  }

  .heart-trick {
    clip-path: polygon(
      71% 65%, 77% 56%, 86% 54%, 86% 46%,
      73% 49%, 65% 57%);
  }

  .brain-trick {
    clip-path: polygon(
      39% 62%, 43% 67%, 53% 71%, 61% 79%,
      61% 87%, 65% 88%, 64% 78%, 51% 65%,
      52% 59%, 49% 57%, 45% 63%);
  }

  @keyframes brain {
    0% { transform: scaleX(0) translateX(0); }
    100% {
      opacity: 1;
      transform: scaleX(1) translateX(250px);
    }
  }

  .brain.go, .brain-trick.go {
    animation: brain .5s 2.7s forwards;
  }

  @keyframes heart {
    0% { transform: scaleX(0) translateX(0); }
    100% {
      opacity: 1;
      transform: scaleX(1) translateX(-250px);
    }
  }

  .heart.go, .heart-trick.go {
    animation: heart .5s 2.7s forwards;
  }

  .brain-trick.go, .heart-trick.go {
    cursor: help;
    transition: background-color 1s all;
  }

  .brain-trick.go:hover, .heart-trick.go:hover {
    background-color: oklch(var(--p));
  }

</style>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const elements = document.querySelectorAll('.face, .see, .brain, .heart, .divides, .divide, .brain-trick, .heart-trick');
    const go = () => {
      elements.forEach(el => el.classList.add('go'));
    };
    document.querySelectorAll('.face, .see, .brain, .heart, .brain-trick, .heart-trick').forEach(el => {
      el.addEventListener('click', go);
    });
  });
</script>