---
import BlogLayout from "../layouts/Blog.astro";
---
<BlogLayout>
  <container class="prose mx-auto my-20 px-4">
    <h1 class="text-4xl font-black mb-2">Blog</h1>
    <p>
      Well this page is a bit of an embarrasement. I want to make sets of cards to sort in different ways.
    </p>
  </container>
</BlogLayout>