---
import Page from "../layouts/Page.astro"
import ColorText from "../components/ColorText.astro"
---
<Page>
  <div class="w-full absolute flex flex-col items-center h-[calc(100vh-4rem)] overflow-clip">
    <div class="pt-[10vh] pb-16 px-4">
      <h1 class="lg:text-7xl text-5xl font-black">
        <div class="hidden md:block">
          <ColorText text="KIA ORA! ARONI HERE." />
        </div>
        <span class="md:hidden">
          KIA ORA! ARONI HERE.
        </span>
      </h1>
      <h2 class="lg:text-3xl text-xl font-bold">
        <div class="hidden md:block">
          <ColorText text="I DO LOTS OF STUFF AND I LIKE MAKING WEBSITES." />
        </div>
        <span class="md:hidden">
          I DO LOTS OF STUFF AND I LIKE MAKING WEBSITES.
        </span>
      </h2>
    </div>
    <div class="w-[210px] hidden md:block">
      <a href="/about" class="eye z-30 absolute">
        <img width="210" height="150" src="/img/eye-open.webp" alt="All seeing eye" class="eye-open" />
      </a>
      <img width="210" height="150" src="/img/eye-look.webp" alt="All seeing eye"
        class="
          eye-look
          absolute
          opacity-0" />
      <img width="210" height="150" src="/img/eye-ouch.webp" alt="All seeing eye" 
        class="
          eye-ouch
          absolute
          opacity-0" />
      <img width="750" height="500" src="/img/finger-poke.webp" alt="All seeing eye" 
        class="poke
          absolute" />
    </div>
  </div>

</Page>

<style>
  @media screen and (min-width: 768px) {

    .hello {
    color : oklch(var(--p));
    }

    .eye-open, .eye-closed, .eye-ouch {
      user-select: none;
      -webkit-user-drag: none;
    }

    .eye, .eye-look {
      transition-delay: .3s;
    }

    .eye:hover ~ .eye-look {
      transition-delay: .3s;
      opacity: 1;    
    }
    
    .eye:hover {
      opacity: 0;
    }

    .poke {
      width: 750px;
      height: 500px;
      transform: translate(55vw, 40vh) rotate(40deg);
      transition: transform 1s;
    }

    .eye:hover ~ .poke {
      transform: translate(20vw, 20vh) rotate(10deg);
      transition: transform 1s;
    }

    .eye:active ~ .poke {
      transform: translate(6rem, 4rem) rotate(0deg);
      transition: transform .1s;
    }

    .eye:active ~ .eye-look {
      opacity: 0;
      transition-delay: 0s;
    }

    .eye-open {
      transition-delay: .3s;
    }

    .eye:active > .eye-open {
      opacity: 0;
      transition-delay: 0s;
    }

    .eye-ouch {
      transition-delay: .3s;
    }

    .eye:active ~ .eye-ouch {
      opacity: 1;
      transition-delay: 0s;
    }
  }

</style>