---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

const path = Astro.url.pathname;
const list: { name: string; posts: CollectionEntry<'blog'>[] }[] = [{ 
  name: 'How do I order this?',
  posts: await getCollection('blog')
}];
---
<div class="drawer md:drawer-open max-w-fit md:bg-base-200">
  <input id="drawer-blog-list" type="checkbox" class="drawer-toggle" />

  <label for="drawer-blog-list" class="btn btn-square drawer-button fixed md:hidden m-2">
    <svg height="24px" viewBox="0 -960 960 960" width="24px" fill="oklch(var(--bc))">
      <path d="M560-574v-48q33-14 67.5-21t72.5-7q26 0 51 4t49 10v44q-24-9-48.5-13.5T700-610q-38 0-73 9.5T560-574Zm0 220v-49q33-13.5 67.5-20.25T700-430q26 0 51 4t49 10v44q-24-9-48.5-13.5T700-390q-38 0-73 9t-67 27Zm0-110v-48q33-14 67.5-21t72.5-7q26 0 51 4t49 10v44q-24-9-48.5-13.5T700-500q-38 0-73 9.5T560-464ZM248-300q53.57 0 104.28 12.5Q403-275 452-250v-427q-45-30-97.62-46.5Q301.76-740 248-740q-38 0-74.5 9.5T100-707v434q31-14 70.5-20.5T248-300Zm264 50q50-25 98-37.5T712-300q38 0 78.5 6t69.5 16v-429q-34-17-71.82-25-37.82-8-76.18-8-54 0-104.5 16.5T512-677v427Zm-30 90q-51-38-111-58.5T248-239q-36.54 0-71.77 9T106-208q-23.1 11-44.55-3Q40-225 40-251v-463q0-15 7-27.5T68-761q42-20 87.39-29.5 45.4-9.5 92.61-9.5 63 0 122.5 17T482-731q51-35 109.5-52T712-800q46.87 0 91.93 9.5Q849-781 891-761q14 7 21.5 19.5T920-714v463q0 27.89-22.5 42.45Q875-194 853-208q-34-14-69.23-22.5Q748.54-239 712-239q-63 0-121 21t-109 58ZM276-489Z"/>
    </svg>
  </label>

  <div class="drawer-side z-50 md:z-0">
    <div class="bg-base-100 h-full md:h-fit min-w-60 pr-4 bg-opacity-80 backdrop-blur-lg md:bg-opacity-100 md:bg-base-200">
      <label for="drawer-blog-list" aria-label="close sidebar" class="btn btn-square m-3 md:hidden bg-opacity-50">
        <svg height="24px" viewBox="0 -960 960 960" width="24px" fill="oklch(var(--bc))">
          <path d="m249-207-42-42 231-231-231-231 42-42 231 231 231-231 42 42-231 231 231 231-42 42-231-231-231 231Z"/>
        </svg>
      </label>
      { list.map((m) => (
        <ul class="menu md:menu-sm md:mt-20 ">
          <li>
            <details open>
              <summary>{m.name}</summary>
              <ul>
                {m.posts.map((item: CollectionEntry<'blog'>) => (
                  <li>
                    <a href={`/${item.collection}/${item.slug}`}
                      class={path === `/${item.collection}/${item.slug}`
                      ? 'active' : ''} aria-label={item.data.title}>
                      {item.data.title}
                    </a>
                  </li>
                ))}
              </ul>
            </details>
          </li>
        </ul>
      ))}
    </div>
  </div>
</div>

<style>
.menu :where(li ul) {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

.menu-sm :where(li:not(.menu-title) > details > summary:not(.menu-title)) {
  margin-bottom: 0.25rem;
}
</style>