---
interface Props {
  text: string;
}

const { text } = Astro.props;
const colors = [
  "var(--er)",
  "var(--wa)",
  "var(--su)",
  "var(--in)",
  "var(--s)",
  "var(--p)",
];
---

<div class="hover-text text-center">
  {text.split('').map((char, i) => (
    
      <span
        class={`hover-char hover-char-${i}`}
        style={`--hover-color: oklch(${colors[i % colors.length]});`}
      >
        <a href="/blog">
          {char === ' ' ? '\u00A0' : char}
        </a>
      </span>
  ))}
</div>

<style>
  @keyframes pulse {
    50% {
      color: var(--hover-color);
    }
  }

  .hover-char {
    display: inline-block;
    transition: color 0.5s ease, text-shadow 1s ease;
    cursor: pointer;
  }

  .hover-char:hover {
    z-index: -1;
    color: var(--hover-color);
    text-shadow:
      0 0 1rem color-mix(in oklch, var(--hover-color), transparent 80%), 
      0 0 4rem color-mix(in oklch, var(--hover-color), transparent 40%);
  }

  .hover-char.animate {
    animation: pulse 2s ease-in-out forwards;
  }
</style>

<script>
  // This needs to run inline for random() to work, hence the repetition.
  const triggerRandomAnimation = () => {
    const chars = document.querySelectorAll('.hover-char');
    if (chars.length === 0) return;
    const randomIndex = Math.floor(Math.random() * chars.length);
    const char = chars[randomIndex];
    const colors = [
      "var(--er)",
      "var(--wa)",
      "var(--su)",
      "var(--in)",
      "var(--s)",
      "var(--p)",
    ];
    const randomColor = colors[Math.floor(Math.random() * colors.length)];
    char.classList.add('--pulse-color', randomColor);
    char.classList.add('animate');
    setTimeout(() => char.classList.remove('animate'), 4000);
  };
  setInterval(triggerRandomAnimation, Math.floor(Math.random() * 1000));
  // No, it's not the drugs, it's a colour animation.
</script>
