---
interface Props {
  postLink: string;
}

const { postLink } = Astro.props;
const blueskyUser = "at://did:plc:shiku6udpt7rvdiisqppel2q/app.bsky.feed.post/"
const uri = `${blueskyUser}${postLink}`
const postId = uri.split('/').pop();
const blueskyLink = `https://bsky.app/profile/${uri.split('/')[2]}/post/${postId}`;
---

<div class="comments-section flex flex-col" data-bluesky-uri={uri}>
  <h2>Comments:</h2>

  <div class="comments-loader">Loading comments...</div>
  <div class="comments-error" style="display: none;"></div>
  
    <a href={blueskyLink} target="_blank" rel="noopener noreferrer btn" class="bluesky-link">
      <div class="comments-list" style="display: none;"></div>
    </a>
  
  <button class="refresh-comments btn">Refresh Comments</button>
  </div>


<script>
  interface BlueskyPost {
  post: {
    author: {
      avatar: string;
      displayName: string;
      handle: string;
    };
    record: {
      text: string;
    };
    indexedAt: string;
    likeCount: number;
    repostCount: number;
    replyCount: number;
  };
  replies?: BlueskyPost[];
}

class CommentSection {
  private readonly uri: string;
  private readonly loader: HTMLElement;
  private readonly errorDiv: HTMLElement;
  private readonly commentsList: HTMLElement;
  private readonly refreshButton: HTMLElement;

  constructor(container: HTMLElement) {
    const uri = container.dataset.blueskyUri;
    if (!uri) {
      throw new Error('Bluesky URI is required');
    }
    this.uri = uri;
    console.log(uri)

    const loader = container.querySelector('.comments-loader');
    const errorDiv = container.querySelector('.comments-error');
    const commentsList = container.querySelector('.comments-list');
    const refreshButton = container.querySelector('.refresh-comments');

    if (!loader || !errorDiv || !commentsList || !refreshButton) {
      throw new Error('Required DOM elements not found');
    }

    this.loader = loader as HTMLElement;
    this.errorDiv = errorDiv as HTMLElement;
    this.commentsList = commentsList as HTMLElement;
    this.refreshButton = refreshButton as HTMLElement;

    this.initialize();
  }

  private async initialize() {
    this.refreshButton.addEventListener('click', () => this.fetchComments());
    await this.fetchComments();

    // Auto-refresh comments every 5 minutes
    setInterval(() => this.fetchComments(), 5 * 60 * 1000);
  }

  private async fetchComments() {
    this.loader.style.display = 'grid';
    this.errorDiv.style.display = 'none';
    this.commentsList.style.display = 'none';

    try {
      const endpoint = `https://api.bsky.app/xrpc/app.bsky.feed.getPostThread?uri=${encodeURIComponent(this.uri)}`;
      const response = await fetch(endpoint, {
        method: 'GET',
        headers: {
          'Accept': 'application/json'
        }
      });

      if (!response.ok) {
        throw new Error(`HTTP error! status: ${response.status}`);
      }

      const data = await response.json();
      const comments = data.thread?.replies || [];

      this.renderComments(comments);
      this.loader.style.display = 'none';
      this.commentsList.style.display = 'grid';
    } catch (error: unknown) {
      this.loader.style.display = 'none';
      this.errorDiv.style.display = 'grid';

      const errorMessage = error instanceof Error
        ? error.message
        : 'An unknown error occurred';

      this.errorDiv.textContent = `Error loading comments: ${errorMessage}`;
    }
  }

    private renderComments(comments: BlueskyPost[]) {
      if (comments.length === 0) {
        this.commentsList.innerHTML = '<p>No comments yet. <span class="no-comments btn btn-sm btn-info mx-2">Make one on Bluesky!</span></p>';
        return;
      }

      this.commentsList.innerHTML = comments.map(comment => this.renderComment(comment)).join('');
    }

    private renderComment(comment: BlueskyPost): string {
  const date = new Date(comment.post.indexedAt).toLocaleDateString();

  const renderReplies = (replies: BlueskyPost[] = []): string => {
    if (replies.length === 0) return '';
    return `
      <div class="replies">
        ${replies.map(reply => {
          const replyDate = new Date(reply.post.indexedAt).toLocaleDateString();
          return `
            <div class="comment reply">
              <div class="comment-header">
                <img src="${reply.post.author.avatar}"
                     alt="${reply.post.author.displayName}'s avatar"
                     class="avatar"
                     style="width: 32px; height: 32px; border-radius: 50%; object-fit: cover;" />
                <div class="author-info">
                  <span class="author-name">${reply.post.author.displayName}</span>
                  <span class="author-handle">@${reply.post.author.handle}</span>
                </div>
              </div>
              <div class="comment-content">${reply.post.record.text}</div>
              <div class="comment-footer">
                <div class="interaction-counts">
                  <span>${reply.post.replyCount || 0} 💬</span>
                  <span>${reply.post.repostCount || 0} 🔁</span>
                  <span>${reply.post.likeCount || 0} ❤️</span>
                </div>
                <time class="comment-date" datetime="${reply.post.indexedAt}">${replyDate}</time>
              </div>
              ${renderReplies(reply.replies)}
            </div>
          `;
        }).join('')}
      </div>
    `;
  };

  return `
    <div class="tooltip tooltip-top tooltip-info" data-tip="Comment on Bluesky">
      <div class="comment">
        <div class="comment-header">
          <img src="${comment.post.author.avatar}"
              alt="${comment.post.author.displayName}'s avatar"
              class="avatar"
              style="width: 32px; height: 32px; border-radius: 50%; object-fit: cover;" />
          <div class="author-info">
            <span class="author-name">${comment.post.author.displayName}</span>
            <span class="author-handle">@${comment.post.author.handle}</span>
          </div>
        </div>
        <div class="comment-content text-left">${comment.post.record.text}</div>
        <div class="comment-footer">
          <div class="interaction-counts">
            <span>${comment.post.replyCount || 0} 💬</span>
            <span>${comment.post.repostCount || 0} 🔁</span>
            <span>${comment.post.likeCount || 0} ❤️</span>
          </div>
          <time class="comment-date" datetime="${comment.post.indexedAt}">${date}</time>
        </div>
        ${renderReplies(comment.replies)}
      </div>
    </div>
  `;
}

  }

  // Initialize all comment sections on the page
  document.querySelectorAll('.comments-section').forEach(container => {
    new CommentSection(container as HTMLElement);
  });
</script>

<style is:global>
  .comments-section {
    margin: 3rem 0;
  }

  .comments-section .comments-list {
    gap: 1rem;
  }

  .comments-section .comment {
    padding: 1rem 1.5rem;
    background-color: oklch(var(--n));
    border-radius: 0.5rem;
    transition: background-color .2s;
  }

  .comments-section .comment:hover,
  .comments-section .comment:hover .reply{
    background-color: oklch(var(--b2));
  }

  .comments-section .comment-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .comments-section .author-info {
    display: flex;
    flex-direction: column;
  }

  .comment-date {
    font-size: 0.75rem;
  }

  .comments-section .author-handle {
    color: color-mix(in oklch, oklch(var(--p)), oklch(var(--bc)));
    font-size: 0.9em;
  }

  .comments-section .comment-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
    font-size: 0.9em;
    color: color-mix(in oklch, oklch(var(--p)), oklch(var(--bc)));
  }

  .comments-section .interaction-counts {
    display: flex;
    gap: 1rem;
  }

  .comments-section .replies {
    margin-left: .5rem;
    border-left: 2px solid oklch(var(--bc));
  }

  .comment .reply {
    margin-left: .5rem;
    padding: 1rem 0 1rem 1rem;
    text-align: left;
  }

  .comments-section .comments-loader,
  .comments-section .comments-error {
    padding: 1rem;
    text-align: center;
  }

  .comments-section .comments-error {
    color: oklch(var(--er));
  }

  .comments-section .refresh-comments {
    margin: 1rem 0;
  }
</style>