---
import Card from './PostCards.astro';
import { getCollection, type CollectionEntry } from 'astro:content';

type Latest = CollectionEntry<'blog'>;
const latest: Latest[] = await getCollection('blog');
const latestThree = latest // actually 13
  .sort((a, b) => new Date(b.data.pubDate || 0).getTime() - new Date(a.data.pubDate || 0).getTime())
  .slice(0, 13);
---
<container class="my-20 p-8">
  <div class="h-8"></div>

  <h1 class="text-2xl font-black mb-2">Latest Posts</h1>
  <p>This will be the most generic display of sorting posts. It's labelled as a "mini-card-grid". It's from the old <a href="https://css-tricks.com/">css-tricks</a> website which I loved so much before it got eaten by another giant company.</p>
  <div class="mini-card-grid mb-8">
    {latestThree.map((post) => (
      <Card post={post} variant={ 'mini'} />
    ))}
  </div>

  <h1 class="text-2xl font-black mb-2">MTG Posts</h1>
  <p>This is an attempt at styling a Magic: the Gathering card.</p>
  <div class="mini-card-grid">
    {latestThree.map((post) => (
      <Card post={post} variant={ 'mtg'} />
    ))}
  </div>
</container>

<style>
  .mini-card-grid {
    overflow-x:visible;
    gap: 1rem;
    padding: 3rem 0 3rem 2rem;
    display: flex;
    overflow-x: scroll;
  }
</style>