---
import NavItems from "./NavItems.astro";

const segments = Astro.url.pathname
  .split('/')
  .filter(Boolean);
const currentPath = segments.join('/');
---
    <!-- Navbar -->
    <div class="navbar sticky top-0 z-40 bg-base-300 w-full bg-opacity-90 backdrop-blur transition-shadow shadow-xl">
      <div class="flex w-full h-14 justify-between md:justify-normal">
        <div class="flex-none md:hidden">
          <label for="side-drawer" aria-label="open sidebar" class="btn btn-square btn-ghost">
            <svg height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
              <path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/>
            </svg>
          </label>
        </div>

        <button class="link hover:text-base-content transition-colors duration-200 no-underline link-primary mb-2 mr-2">
          <a href="/" class="text-3xl font-black">🙆aroni.co</a>
        </button>

        <div class="breadcrumbs hidden md:flex">
          {segments.length > 0 && (<span class="text-sm">/</span>)}
          {segments.map((segment, index) => {
            const segmentPath = segments.slice(0, index + 1).join('/');
            const isCurrentPage = segmentPath === currentPath;
            return (
              <div class="flex items-center text-sm">
                {isCurrentPage ? (
                  <span class="mx-1 text-primary font-semibold cursor-default">
                    {segment.replace(/-/g, ' ')}
                  </span>
                ) : (
                  <a
                    class="mx-1 text-sm font-semibold link link-hover"
                    href={`/${segmentPath}`}
                  >
                    {segment.replace(/-/g, ' ')}
                  </a>
                )}
                {index < segments.length - 1 && '/'}
              </div>
            );
          })}
        </div>
      </div>

      <div class="hidden flex-none md:block">
        <ul class="menu menu-sm menu-horizontal px-1 uppercase font-semibold text-base gap-1">
          <NavItems />
        </ul>
      </div>
    </div>
  </div>



<!-- <div class="
  bg-base-300
  text-base-content
  sticky
  top-0
  flex
  h-16
  w-full
  justify-center
  bg-opacity-90
  backdrop-blur
  transition-shadow
  duration-100
  [transform:translate3d(0,0,0)]
  shadow-sm
  z-50">


  <div class="drawer">
    <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content flex flex-col">


      <nav class="navbar w-full">
        <div class="navbar rounded-box">
          <button class="link hover:text-base-content transition-colors duration-200 no-underline link-primary mb-2 mr-2">
            <a href="/" class="text-3xl font-black">aroni.co</a>
          </button>
          
        </div>
        <div class="navbar-end">

        </div>
      </nav>


      <div class="drawer-side">
        <label for="my-drawer-3" aria-label="close sidebar" class="drawer-overlay"></label>
        <ul class="menu bg-base-200 min-h-full w-80 p-4">

          <li><a>Sidebar Item 1</a></li>
          <li><a>Sidebar Item 2</a></li>
        </ul>
      </div>

      <div class="flex-none md:hidden">
        <label for="my-drawer-3" aria-label="open sidebar" class="btn btn-square btn-ghost">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
            <path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/>
          </svg>
        </label>
      </div>

    </div>
  </div>
</div>
 -->
