---
import NavItems from "./NavItems.astro";

---
<div class="drawer-side z-50">
  <label for="side-drawer" class="drawer-overlay"></label>
  <aside class="w-full bg-base-100 bg-opacity-50 min-h-screen backdrop-blur-lg">
    
    <div class="p-3 z-50">
      <label for="side-drawer" aria-label="close sidebar" class="btn btn-square bg-opacity-80"> 
        <svg height="24px" viewBox="0 -960 960 960" width="24px" fill="oklch(var(--bc))">
          <path d="m249-207-42-42 231-231-231-231 42-42 231 231 231-231 42 42-231 231 231 231-42 42-231-231-231 231Z"/>
        </svg>
      </label>
    </div>
    <ul class="menu max-w-fit">
      <NavItems />
    </ul>
    <div class="divider ml-4 mr-8"></div>
  </aside>
</div>