---
import type { CollectionEntry } from 'astro:content';

export interface CardProps {
  post: CollectionEntry<'blog'>;
  variant?: 'mini' | 'mtg' | 'colorful' | 'compact';
}

const { post, variant } = Astro.props;
const { slug, data } = post;

---
<div class="animator">
{variant === 'mini' && (
  <div class="card mini">
    <a href={'/blog/' + slug}>
      <figure class="rounded-t-2xl bg-secondary bg-opacity-60">
        <img src={'/img/post-cards/' + slug + '.webp'} alt={`${slug} feature image`} />
      </figure>
      <div class="card-body">
        <p class="text-xs text-accent">
          {new Intl.DateTimeFormat('ja-JP', { dateStyle: 'short' }).format(data.pubDate)}
        </p>
        <h2 class="text-lg font-bold">{data.title}</h2>
        <p class="text-sm">{data.description}</p>
      </div>
    </a>
  </div>
)}

{variant === 'mtg' && (
  
    <div class="card mtg">
      <a href={'/blog/' + slug}>
        <div class="mtg-card-body">

          <div class="mtg-layer-background" />
          <div class="mtg-inner-background" />

          <div class="mtg-top-bar-container relative">
            <div class="mtg-top-bar flex justify-between">
              <h1 class="my-[.1rem] font-serif font-semibold">{data.title}</h1>
              <p class="text-sm flex justify-center items-center my-1 pb-1 font-serif font-semibold rounded-full bg-slate-400 w-4 h-4 shadow-[-.1rem_.1rem_.1rem_#000]">💀</p>
            </div>
          </div>

          <div class="mtg-figure-container relative">
            <figure class="mtg-figure">
              <img src={'/img/post-cards/' + slug + '.webp'} alt={`${slug} feature image`} />
            </figure>
          </div>

          <div class="mtg-mid-bar-container relative">
            <div class="mtg-mid-bar">
              <p class="text-sm py-[.2rem] font-serif">{data.category + " "} {data.tags ? `— ${data.tags.join(" ")}` : ""}</p>
            </div>
          </div>

          <div class="mtg-text-box-container relative">
            <div class="mtg-text-box">
              <p class="text-sm">{data.description}</p>
            </div>
          </div>

          <div class="mtg-pt-box-container">
            <div class="absolute mtg-pt-box">
              <p>{new Intl.DateTimeFormat('ja-JP', { month: 'numeric', day: 'numeric' }).format(data.pubDate)}</p>
            </div>
          </div>
          <div class="mtg-footer">
            <p>Aroni Shane</p>
            <p>{new Intl.DateTimeFormat('en-JP', { year: 'numeric' }).format(data.pubDate)} p/t is m/d!</p>
          </div>
        </div>
      </a>
    </div>
    
  
)}

{variant === 'colorful' && (
  <div class="card colorful">
  </div>
)}

{variant === 'compact' && (
  <div class="card compact bg-">
  </div>
)}
</div>
<style>

.animator:nth-of-type(2n) {
  border: 2px solid #f3a6f7;
}

.card {
  display: flex;
  flex-direction: column;
  background: var(--bg);
  transition: transform 0.2s ease;
}

/* MINI CARD SECTION */

.card.mini {
  display: flex;
  outline: solid .3rem oklch(var(--b1));
  background: linear-gradient(85deg, oklch(var(--n)), oklch(var(--b3)));
  box-shadow: -1.5rem 0 2rem -1.5rem #000, -1.5rem 0 2rem -1.5rem #000;
  transition: .2s;
  margin: 0;
  width: 20rem;
  height: 20rem;
}

.card.mini:focus-within, .card.mini:hover {
  transform: translateY(-1rem) rotate(3deg);
}

.card.mini:focus-within ~ .card.mini, .card.mini:hover ~ .card.mini {
  transform: translateX(130px);
}

.card.mini:first-child:focus-within, .card.mini:first-child:hover {
  transform: translate(-.5rem,-1rem) rotate(3deg);
}

.card.mini:not(:first-child) {
  margin-left: -130px;
}

/* MAGIC THE GATHERING SECTION */

:root {
  --mtg-colour: var(--mtg-white);
  --mtg-base1: linear-gradient(70deg, 
               oklch(var(--mtg-colour) / .6),
               oklch(var(--mtg-colour) / .4));
  --mtg-white: var(--bc);
  --mtg-gold: var(--wa);
  --mtg-blue: var(--in);
  --mtg-black: var(--c);
  --mtg-red: var(--er);
  --mtg-green: var(--su);
}

.card.mtg {
  width: 20rem;
  max-height: auto;
  aspect-ratio: 5 / 7;
}



.mtg-card-body {
  padding: 1rem;
  border-radius: 1rem;
  background-color: oklch(var(--ac));
  aspect-ratio: 5 / 7;
}

.mtg-inner-background, .mtg-layer-background {
  top: 1rem;
  left: 1rem;
  right: 1rem;
  bottom: 5rem;
  position: absolute;
  border-radius: .5rem / .5rem .5rem 2rem 2rem ;
}

.mtg-layer-background { 
  background-color: white; 
}

.mtg-inner-background { 
  background: 
    oklch(var(--mtg-colour) / .7)
    url("/img/post-cards/mtg/inner-background-texture.webp");
}

.mtg-figure {
  aspect-ratio: 11 / 8;
  border: .1rem solid oklch(var(--n));
  background-color: pink;
}

.mtg-figure-container {
  margin: 0 .65rem;
  border-left: solid 3px oklch(var(--mtg-colour));
  border-right: solid 3px oklch(var(--mtg-colour));
}

.mtg-top-bar, .mtg-mid-bar {
  border-radius: 1rem / 3rem;
  border: .1rem solid oklch(var(--n));
  outline: .2rem solid oklch(var(--mtg-colour));
  background: var(--mtg-base1);
  background-color: #fff;
  color: oklch(var(--ac));
  padding: 0 .5rem;
}

.mtg-top-bar-container, .mtg-mid-bar-container {
  border-radius: 1rem / 2rem;
  border: solid 3px pink;
}

.mtg-top-bar-container {
  margin: .4rem .3rem 0 .3rem;
}

.mtg-mid-bar-container {
  margin: 0 .3rem;
}

.mtg-text-box {
  margin: 0rem .75rem 1.5rem .75rem;
  color: oklch(var(--ac));
  box-shadow:
    inset .05rem -.05rem .05rem oklch(var(--nc)),
    inset -.1rem .1rem 0 oklch(var(--b3) / .4),
    -.3rem -.165rem .1rem oklch(var(--pc) / .4),
    -.3rem .165rem .1rem oklch(var(--pc) / .4);
  background: var(--mtg-base1);
  background-color: white; 
  outline: .2rem solid oklch(var(--mtg-colour));
  padding: .5rem;
  height: 7.8rem;
}

.mtg-pt-box {
  display: flex;
  justify-content: center;
  bottom: 2rem;
  right: 1.2rem;
  color: oklch(var(--ac));
  background: var(--mtg-base1);
  background-color: white; 
  border: .15rem solid oklch(var(--mtg-colour));
  box-shadow:
    inset .05rem -0.1rem 0 oklch(var(--nc) / 0.8),
    inset -0.12rem .15rem .05rem oklch(var(--b3) / 0.6),
    -0.1rem .2rem .2rem oklch(var(--b3) / 0.6);
  border-radius: 1rem / 3rem;
  padding: 0 .3rem;
  min-width: 3.5rem;
}

.mtg-footer {
  font-size: 0.6rem;
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 1.5rem;
  right: 1.5rem;
  bottom: 1.1rem;
}

.card.colorful {
  background: linear-gradient(120deg, #f3a6f7, #9bdefb);
  border-radius: 1rem;
}

.card.compact {
  padding: 1rem;
  font-size: 0.875rem;
  box-shadow:
    inset .1rem -0.2rem 0 oklch(var(--b3) / 0.2),
    inset -0.05rem .1rem 0 oklch(var(--nc) / .6);
}

</style>
