---
import Page from "./Page.astro";
import BlogSidebar from "../components/BlogSidebar.astro";
---
<Page>
  <container>
    <div class="flex">
      <BlogSidebar />
      <slot />
    </div>
  </container>
</Page>