---
import Nav from "../components/Nav.astro"
import NavDrawer from "../components/NavDrawer.astro"
import "../styles/main.css"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="aroni's website">
		<title>aroni.co</title>
	</head>
	<body>
		<div class="drawer drawer-end">
			<input id="side-drawer" type="checkbox" class="drawer-toggle" />

			<!-- Main Content (Nav + Page Content) -->
			<div class="drawer-content flex flex-col">
				<!-- Navbar -->
				<Nav />
				<!-- Page Content -->
				<main>
					<slot />
				</main>
			</div>

			<!-- Sidebar -->
			<NavDrawer />
		</div>
	</body>
</html>
