---
import Blog from "./Blog.astro";
import CommentSection from "../components/Comments.astro";

const { post } = Astro.props;
---

<Blog>
  <article class="prose mx-auto my-20 px-4">
    <p class="text-xs post-date">{new Intl.DateTimeFormat('ja-JP', { dateStyle: 'short' }).format(post.pubDate)}</p>
    <h1>{post.title}</h1>
    <slot />
    <div class="not-prose">
      <CommentSection postLink={post.blueskyUri} />
    </div>
  </article>
</Blog>

<style>
  .post-date {
    color: color-mix(in oklch, oklch(var(--p)), oklch(var(--bc)));
  }
</style>